[submodule "link/.vim/bundle/LaTeX-Box"]
	path = link/.vim/bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "link/.vim/bundle/jedi-vim"]
	path = link/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "link/.vim/bundle/syntastic"]
	path = link/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "link/.vim/bundle/vim-fugitive"]
	path = link/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "link/.vim/bundle/vimux"]
	path = link/.vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "link/.vim/bundle/ctrlp.vim"]
	path = link/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "link/.vim/bundle/nerdcommenter"]
	path = link/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "link/.vim/bundle/vim-bundler"]
	path = link/.vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "link/.vim/bundle/vim-gitgutter"]
	path = link/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "link/.vim/bundle/dash.vim"]
	path = link/.vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "link/.vim/bundle/supertab"]
	path = link/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "link/.vim/bundle/vim-coffee-script"]
	path = link/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "link/.vim/bundle/vim-rails"]
	path = link/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
