# Cowboy junk
/caches/
/backups/

# SSH Secrets
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/known_hosts

# Don't commit VIm plugins, vim-plug will install them.
/link/.vim/autoload/plug.vim
/link/.vim/autoload/plug.vim.old
/link/.vim/plugged
/link/.vim/autoload/plug.vim.old
/link/.vim/spell/*.spl

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

# iPython related files.
/link/.ipython/db
/link/.ipython/history
/link/.ipython/nbextensions/
/link/.ipython/**/db
/link/.ipython/**/log
/link/.ipython/**/pid
/link/.ipython/**/security
/link/.ipython/**/startup
/link/.ipython/**/history.sqlite

# Sublime Text 3
Package\ Control*
