# Cowboy junk
/caches/

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

# SSH Secrets
/stow/.ssh/authorized_keys
/stow/.ssh/id_*
/stow/.ssh/known_hosts

# Don't commit vim plugins, vim-plug will install them.
/stow/vim/.vim/autoload/plug.vim
/stow/vim/.vim/autoload/plug.vim.old
/stow/vim/.vim/spell/*.spl
/stow/vim/.vim/plugged
