# Cowboy junk
/caches/
/backups/

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

# Atom files
/stow/atom/.atom/.apm/
/stow/atom/.atom/.node-gyp/
/stow/atom/.atom/blob-store
/stow/atom/.atom/compile-cache/
/stow/atom/.atom/packages/
/stow/atom/.atom/storage/

# SSH Secrets
/stow/.ssh/authorized_keys
/stow/.ssh/id_*
/stow/.ssh/known_hosts

# Don't commit vim plugins, vim-plug will install them.
/stow/vim/.vim/autoload/plug.vim
/stow/vim/.vim/autoload/plug.vim.old
/stow/vim/.vim/spell/*.spl
/stow/vim/.vim/plugged

# Sublime Text 3
Package\ Control*
SublimeLinter
