/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {

}

.editor {
  -webkit-font-smoothing: antialiased;
}

.editor .cursor {

}

.editor .cursor-line {
  /* background-color: red; */
}

.editor .invisible-character {
  opacity: 0.1;
}

.editor .markup.underline.link.hyperlink {
  color: #F9EE98;
  text-decoration: underline;
}

.editor .wrap-guide {
  background-color: white;
}

.editor .misspelling {
    // background-color: red;
}
